.page {
    text-align: left
}

.page-annualTurnover {
    border-radius: 5px;
    background-color: #C2C2C2;
    border: none;
    height: 30px;
    width: 100%;
}

.page-submit {
    background-color: #E60085;
}

.quiz_qiestions {
    text-align: left;
    margin: 1em 0px;
    font-size: 1em;
}