.textarea {
  display: flex;
  flex-direction: column;
}

 .textarea textArea{
   border-radius: 10px;
   padding: 10px;
   background-color: #C2C2C2;
   border: none;
 }

 .textarea textarea::placeholder {
   color: #636363;
   font-size: .8em;
 }

 .textarea p {
   color: #000;
   font-size: .8em;
   font-weight: bold;
 }
