.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.back {
  background-color: #5C595B;
}

.next {
  background-color: #E60085;
}

.done {
  background-color: #08A500;
}
