
.tabBody {
  display: flex;
  flex-direction: column;
}

.tabBody-guidelines {
  text-align: right;
  font-size: .5em;
}

.tabBody-guidelines-href {
  color: #E60085
}

.tabBody-guidelines-href:hover {
  color: #08A500;
}

.tabBody-question {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
}

.tabBody-answer {
  color: #000000;
  font-size: .9em;
  font-weight: bold;
}

.tabBody-expectationsItem {
  list-style-type: none;
}
